{{ define "main" }}
<main class="py-10 px-4 sm:px-6 lg:px-8 bg-white min-h-screen max-w-7xl mx-auto">
  <div class="grid grid-cols-2 gap-4 max-w-7xl mx-auto">
  {{ range .Site.Sections }}
    <div class="sm:px-6 lg:px-8">
      <div class="border-b border-gray-200 pb-2">
        <h3 class="text-base font-semibold leading-6 text-gray-900 capitalize">
          {{ if .Title }}{{ .Title }}{{ else }}{{ replace .File.ContentBaseName "-" " " | title }}{{ end }}
        </h3>
      </div>
      
      <!-- Top Level Pages -->
      <ul class="list-disc mt-4 pl-5 space-y-2" style="list-style-type: disc;">
        {{ $pages := where .Pages "Params.component" "!=" true }}
        {{ $pages = where $pages "Params.hidden" "!=" true }}
        
        {{ range $pages }}
          <li class="list-item" style="display: list-item;">
            <a target="_blank" href="{{ .RelPermalink }}" class="text-indigo-600 hover:text-indigo-900">
              {{ if .Title }}{{ .Title }}{{ else }}{{ replace .File.ContentBaseName "-" " " | title }}{{ end }}
            </a>
          </li>
        {{ end }}
      </ul>

      <!-- Subdirectories (Nested Folders) -->
      {{ if .Sections }}
        <ul class="mt-4 space-y-4">
          {{ range .Sections }}
            <li class="list-disc ml-5" style="display: list-item; list-style-type: disc;">
              <h2 class="font-semibold text-base leading-6 text-gray-900 capitalize">
                {{ if .Title }}{{ .Title }}{{ else }}{{ replace .File.ContentBaseName "-" " " | title }}{{ end }}
              </h2>
              <ul class="list-disc pl-5 mt-2 space-y-2" style="list-style-type: disc;">
                {{ $subpages := where .RegularPages "Params.component" "!=" true }}
                {{ $subpages = where $subpages "Params.hidden" "!=" true }}
                
                {{ range $subpages }}
                  <li class="list-item" style="display: list-item;">
                    <a target="_blank" href="{{ .RelPermalink }}" class="text-indigo-600 hover:text-indigo-900">
                      {{ if .Title }}{{ .Title }}{{ else }}{{ replace .File.ContentBaseName "-" " " | title }}{{ end }}
                    </a>
                  </li>
                {{ end }}
              </ul>
            </li>
          {{ end }}
        </ul>
      {{ end }}

    </div>
  {{ end }}
  </div>
</main>
{{ end }}